/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: auto;
  src: url("Inter-Thin.woff2?v=3.19") format("woff2"), url("Inter-Thin.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: auto;
  src: url("Inter-ThinItalic.woff2?v=3.19") format("woff2"), url("Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: url("/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"), url("/fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: auto;
  src: url("/fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"), url("/fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: Bold;
  font-display: auto;
  src: url("/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"), url("/fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: Bold;
  font-display: auto;
  src: url("/fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"), url("/fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter V";
  font-weight: 100 900;
  font-display: auto;
  font-style: oblique 0deg 10deg;
  src: url("/fonts/Inter.var.woff2?v=3.19") format("woff2");
}

/* Breakpoints
'sm': '640px'
'md': '768px'
'lg': '1024px'
'xl': '1280px' */
:root {
  /* Text sizes */
  --base-text-size: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --mono-text-size: 1rem;
  --base-line-height: 1.5;
  /* Spacing */
  --space-s-m: clamp(1rem, 0.7609rem + 1.1957vw, 1.6875rem);
  --space-xl-2xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
  --space-2xl-3xl: clamp(4rem, 3.0435rem + 4.7826vw, 6.75rem);
  /* Font Families */
  --font-family: "Inter", ui-sans-serif, system-ui, -system-ui, -apple-system,
    BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif,
    "Apple Color Emoji";
  /* Colors */
  --foreground-rgb: 59, 59, 59;
  --background-rgb: 252, 252, 252;
  /* Layout */
  --wrap-max-width: 690px;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-family: "Inter V", ui-sans-serif, system-ui, -system-ui, -apple-system,
      BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif,
      "Apple Color Emoji";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 206, 206, 206;
    --background-rgb: 25, 25, 25;
  }
}

* {
  font-variation-settings: "slnt"0;
}

html {
  font-size: 100%;
}

body {
  font-size: var(--base-text-size);
  font-family: var(--font-family);
  line-height: var(--base-line-height);
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  margin: var(--space-xl-2xl) auto;
  padding: 0 6vw;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0.7rem 1rem;
}

footer {
  max-width: var(--wrap-max-width);
  padding-top: var(--space-xl-2xl);
  margin: var(--space-xl-2xl) auto;
  border-top: 1px solid rgba(var(--foreground-rgb), 0.1);
}

footer p {
  margin: 1em 0;
}

a {
  color: rgb(var(--foreground-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--base-text-size);
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  opacity: .6;
}

p {
  margin: 1rem 0;
}

em {
  font-variation-settings: "slnt"10;
  font-style: italic;
}

ul,
ol {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

blockquote {
  padding: 0 var(--space-s-m);
  font-variation-settings: "slnt"10;
  font-style: italic;
  border-left: 2px solid rgb(var(--foreground-rgb));
}

code {
  font-size: var(--text-size-sm);
}

figure.highlight,
div.highlight {
  padding: 0.5rem 1rem;
  background: rgb(var(--background-rgb));
  border: 1px solid rgba(var(--foreground-rgb), 0.25);
  border-radius: 0.75rem;
  overflow-x: scroll;
  margin-top: 1rem;
}

figure.highlight code,
div.highlight {
  font-size: var(--mono-text-size);
}

/* Classes */
.wrap {
  max-width: var(--wrap-max-width);
  margin: 0 auto;
}

.global-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.home-link {
  margin-bottom: 2rem;
}

.page-header h1 {
  margin-bottom: 0;
}

.page-header p {
  margin: 0;
}

.metadata {
  color: rgba(var(--foreground-rgb), 0.5);
}

.footnotes {
  margin-top: 2rem;
  color: rgba(var(--foreground-rgb), 0.75);
}

.reversefootnote {
  color: rgba(var(--foreground-rgb), 0.75);
  text-decoration: none;
}

.tags {
  display: flex;
  gap: 0.5rem;
}

.tag {
  color: rgba(var(--foreground-rgb), 0.5);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*# sourceMappingURL=site.css.map */